html, body { 
    margin: 0; 
    padding: 0; 
}

body {
    width: 1920x;
    height: 1080px;

    position: relative;

    background-image: url(assets/tasktimerbg2.png);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

/* input */ 

.input-area { 
    position: absolute;
    left: 60px;
    right: 902px;
}

/* list for tasks */ 


/* timer */

.time-text {
    position: absolute;
    right: 1270px; 
    left: 260px; 
}

#timeDisplay { 
    font-size: 48px; 
    margin: 20px 0;
    left: 1980px;
}

/* buttons */ 

button { 
    padding: 6px 10px; 
    border-radius: 8px; 
    border: none;
}

.timer { 
    position: absolute; 
    left: 1234px;
    top: 215px;
}
